*.py~
*.npz
*.swp
*.sh*
*.txt*
*.Rproj
*.ipynb
.gitignore*
*~
__pycache__
__pycache__/.*
_backup_
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
manuscript_files/
maths_files/

# pixi environments
.pixi
*.egg-info

data_synced
data_nogit
SCRATCH
jobs
figures_cache
.vscode
figures_files